{# Expects an Element; Returns on array of Elements. #}
{% set relations = elementRelationsGetRelations(element) %}
{# Expects an Elements; Returns a boolen. #}
{% set seomaticGlobal = elementRelationsIsUsedInSeomaticGlobalSettings(element) %}

{% if not relations and not seomaticGlobal %}
    <span style="color: red">{{ 'field-value-unused' | t('element-relations') }}</span>
{% else %}
    <table class="table">
        <tbody>
        {% if seomaticGlobal ?? null %}
            <tr>
                <td colspan="2">{{ 'field-value-seomatic-global' | t('element-relations') }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        {% for relation in relations %}
            <tr>
                <td>{{ elementRelationsElementPreviewHtml([relation]) | raw }}</td>
                <td>
                    {% if relation.url %}
                        <a href="{{ relation.url }}" title="Visit webpage" rel="noopener" target="_blank"
                           data-icon="world" aria-label="View"></a>
                    {% endif %}
                </td>
                <td>{{ relation.site.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
